head
	title Dark React Template
	base(href='/')
	link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,300' rel='stylesheet' type='text/css')
	
	link(href='/css/animate.css' rel='stylesheet' content-type='text/css')