.navbar
	background transparent !important
	height 95px
	border none
	border-bottom 1px solid #5B5A4E
	
.navbar-brand:focus
	outline none

.nav-header
	width 100%
	
	
.brand-icon
	margin-right 10px
	margin-left 28px
	color #5B5A4E

.brand
	color #D3D5D4
	text-transform uppercase
	font-family 'Roboto', sans-serif
	font-weight  100
	letter-spacing 2px
	
.sign-in
	color #D3D5D4
	text-transform uppercase
	font-family 'Roboto', sans-serif
	font-size 1em
	font-weight 100
	line-height 60px
	letter-spacing 2px
	margin-right 65px

	