.panel-pad
	height 200px
	background-color #eee
	
.panel-number
	line-height 180px
	font-size 8em
	font-family 'Roboto', sans-serif
	font-weight bolder
	color #999
	
.title-lbl
	color #1ca8dd
	text-transform uppercase
	letter-spacing 2px
	font 8px/20px 400 'Roboto', sans-serif !important
	margin-left 15px
	//text-align center