.panel-pad
	height 200px
	background-color #eee
	
.panel-number
	line-height 180px
	font-size 8em
	font-family 'Roboto', sans-serif
	font-weight bolder
	color #999
	
.title-div
	padding-left 20px
	//border 1px solid red
	
.title-lbl
	color #1ca8dd
	
	text-transform uppercase
	letter-spacing 2px
	font-family 'Roboto', sans-serif !important
	font-weight bolder
	font-size 10px
	animation-duration .3s
	
