.todo-label
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit browsers */

.todo-label:hover
	cursor pointer
	background-color #555 !important

.remove-todo
	visibility visible
	margin-left 10px
	animation-duration .3s
.remove-todo:hover
	color #B74934
	cursor pointer
	
.label-default
	background-color #555 !important