.todo-label:hover
	cursor pointer
	background-color #555 !important
	
.remove-todo
	
	visibility hidden
	
.show
	visibility visible
	margin-left 10px
	animation-duration .3s
	
.label-default
	background-color #555 !important