.index-lbl
	color #444
	text-transform uppercase
	letter-spacing 2px
	font 8px/20px 400 'Roboto', sans-serif !important
	margin-left 15px
	//text-align center
	

.sidebar-ul
	
	font-family 'Roboto', sans-serif
	font-weight bolder
	border-radius 3px !important
	margin-top 10px
	li
		a
			color #79ABFF
		a:focus
			background-color #161718
			outline none !important
	li:hover
		a
			background-color #333
			color #D3D5D4
			border none !important
			border-radius 3px !important
			
	
		

.active
	a
		background-color #1ca8dd !important
		color #161718 !important
		font-family 'Roboto', sans-serif
		font-weight bolder
		border-radius 2px !important
		//text-transform uppercase
		
.folder-icon
	margin-right 15px