input
	outline: none !important

.add-todo-input
	border-radius 1px !important
	outline: none !important
	animation-duration .3s
	animation-delay .1s
	
.todo-list
	margin-top 10px
	animation-duration .3s
	animation-delay .2s