.sign-btn
	width 200px
	border-radius 1px !important
	margin-top 20px
	
#google
	animation-delay .1s
	animation-duration .3s
	
#facebook
	animation-delay .2s
	animation-duration .3s

.sign-icon
	margin-right 20px